# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\ayush\Downloads\Crop-Yield-Prediction-model-master_Distwise\Crop-Yield-Prediction-model-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
